<span>
Hello , 
</span>

<br>
<br>
You have been invited by {{host}} to attend {{eventName}} at {{place}} the {{date}} . <br>
Here is your guest code : {{eventId}} <br>
App's link : {{eventLink}} <br>

<br>
<br>
See you there .